<div class="featureList">
	<img class="imgUrl" src="../../assets/imgs/myGirl.jpg">
	
	<!-- <alert type="success">
	  <strong>Well done!</strong> 
	</alert>
	<alert type="info">
	  <strong>Heads up!</strong>
	</alert>
	<alert type="warning">
	  <strong>Warning!</strong>
	</alert>
	<alert type="danger">
	  <strong>Oh snap!</strong>
	</alert> -->
	<button type="button" class="btn btn-primary">
	  Home Button
	</button>
	<button type="button" class="btn btn-info">
	  Single Button
	</button>
	<button type="button" class="btn btn-danger">
	  Single Button
	</button>
	<button type="button" class="btn btn-warning">
	  Single Button
	</button>
</div>
